@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <span class="title">StreamR</span>
        <span class="subtitle text-secondary">&nbsp;&nbsp; powered by Blazor, Azure Static Web Apps, SignalR Service</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
